.dashContainer{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    background: rgb(238, 238, 238);
    padding: 5px 10px;
}

.dashCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
    width : 400px;
}
